<?xml version="1.0"?>
<robot name="Bogobot_V1" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="humanoid_links.xacro"/>  
    <!--LINKS--> 
    <!--caja toraxica-->
    <xacro:base_link name="chest" x = "0" y = "0" z = "0.51" row = "0" pitch = "0" yaw = "0"/>

    <!--brazo izquierdo-->
    <xacro:shoulder_link_base name="link_base_left_shoulder" x = "0.0" y = "-0.0185" z = "0.0" row = "0" pitch = "0" yaw = "0"/>
    <xacro:arm_link name="link_left_arm" x = "0.0" y = "0" z = "-0.082" row = "0" pitch = "0" yaw = "0"/>
    <xacro:palm_link name="link_left_palm" x = "0.0" y = "-0.01" z = "-0.062" row = "0" pitch = "0" yaw = "0"/>

    <!--brazo derecho-->
    <xacro:shoulder_link_base name="link_base_right_shoulder" x = "0.0" y = "0.0185" z = "0.0" row = "0" pitch = "0" yaw = "${pi}"/>
    <xacro:arm_link name="link_right_arm" x = "0.0" y = "0" z = "-0.082" row = "0" pitch = "0" yaw = "${pi}"/>
    <xacro:palm_link name="link_right_palm" x = "0.0" y = "0.01" z = "-0.062" row = "0" pitch = "0" yaw = "${pi}"/>

    <!--pierna derecha-->
    <xacro:hip_metal_link name="link_right_hip_metal" x = "0.0" y = "0.0" z = "-0.0175" row = "0" pitch = "0" yaw = "0"/>

    <!--pierna izquierda-->
    <xacro:hip_metal_link name="link_left_hip_metal" x = "0.0" y = "0.0" z = "-0.0175" row = "0" pitch = "0" yaw = "0"/>

    <!--JOINTS-->
    <!--hombro derecho-->
    <joint name="q1" type="revolute">
        <origin rpy="0 0 0" xyz="0 -0.11 0.58" />
        <parent link="chest" />
        <child link="link_base_left_shoulder" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--brazo derecho-->
    <joint name="q3" type="revolute">
        <origin rpy="0 0 0" xyz="0 -0.024 0" />
        <parent link="link_base_left_shoulder" />
        <child link="link_left_arm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--palma derecho-->
    <joint name="q4" type="revolute">
        <origin rpy="0 0 0" xyz="0 0 -0.164" />
        <parent link="link_left_arm" />
        <child link="link_left_palm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>

    <!--hombro izquierdo-->
    <joint name="q2" type="revolute">
        <origin rpy="0 0 0" xyz="0 0.11 0.58" />
        <parent link="chest" />
        <child link="link_base_right_shoulder" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--brazo izquierdo-->
    <joint name="q5" type="revolute">
        <origin rpy="0 0 0" xyz="0 0.024 0" />
        <parent link="link_base_right_shoulder" />
        <child link="link_right_arm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--palma izquierdo-->
    <joint name="q6" type="revolute">
        <origin rpy="0 0 0" xyz="0 0 -0.164" />
        <parent link="link_right_arm" />
        <child link="link_right_palm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>

    <!--pierna derecha-->
    <joint name="q7" type="revolute">
        <origin rpy="0 0 0" xyz="0 0.055 0.3825" />
        <parent link="chest" />
        <child link="link_right_hip_metal" />
        <axis xyz="0 0 1" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>

    <!--pierna izquierda-->
    <joint name="q8" type="revolute">
        <origin rpy="0 0 0" xyz="0 -0.055 0.3825" />
        <parent link="chest" />
        <child link="link_left_hip_metal" />
        <axis xyz="0 0 1" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>


</robot>
