<?xml version="1.0"?>
<robot name="Bogobot_V1" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="humanoid_links.xacro"/>   
    <xacro:base_link name="chest" x = "0" y = "0" z = "0.51" row = "0" pitch = "0" yaw = "0"/>

    <xacro:shoulder_link_base name="link_base_left_shoulder" x = "0.0" y = "-0.0185" z = "0.0" row = "0" pitch = "0" yaw = "0"/>
    <xacro:arm_link name="link_left_arm" x = "0.0" y = "0" z = "-0.082" row = "0" pitch = "0" yaw = "0"/>
    <xacro:palm_link name="link_left_palm" x = "0.0" y = "-0.01" z = "-0.062" row = "0" pitch = "0" yaw = "0"/>

    <xacro:shoulder_link_base name="link_base_right_shoulder" x = "0.0" y = "0.0185" z = "0.0" row = "0" pitch = "0" yaw = "${pi}"/>
    <xacro:arm_link name="link_right_arm" x = "0.0" y = "0" z = "-0.082" row = "0" pitch = "0" yaw = "${pi}"/>
    <xacro:palm_link name="link_right_palm" x = "0.0" y = "0.01" z = "-0.062" row = "0" pitch = "0" yaw = "${pi}"/>

    <!--hombro derecho-->
    <joint name="q1" type="revolute">
        <origin rpy="0 0 0" xyz="0 -0.11 0.58" />
        <parent link="chest" />
        <child link="link_base_left_shoulder" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--brazo derecho-->
    <joint name="q3" type="revolute">
        <origin rpy="0 0 0" xyz="0 -0.024 0" />
        <parent link="link_base_left_shoulder" />
        <child link="link_left_arm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--palma derecho-->
    <joint name="q4" type="revolute">
        <origin rpy="0 0 0" xyz="0 0 -0.164" />
        <parent link="link_left_arm" />
        <child link="link_left_palm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>

    <!--hombro izquierdo-->
    <joint name="q2" type="revolute">
        <origin rpy="0 0 0" xyz="0 0.11 0.58" />
        <parent link="chest" />
        <child link="link_base_right_shoulder" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--brazo izquierdo-->
    <joint name="q5" type="revolute">
        <origin rpy="0 0 0" xyz="0 0.024 0" />
        <parent link="link_base_right_shoulder" />
        <child link="link_right_arm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <!--palma izquierdo-->
    <joint name="q6" type="revolute">
        <origin rpy="0 0 0" xyz="0 0 -0.164" />
        <parent link="link_right_arm" />
        <child link="link_right_palm" />
        <axis xyz="1 0 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>

    <!-- 
    <xacro:motor_28 name="left_motor_arm" x = "0" y = "0" z = "0" row = "0" pitch = "0" yaw = "0"/>
    <xacro:motor_28 name="right_motor_arm" x = "0" y = "0" z = "0" row = "0" pitch = "0" yaw = "0"/>
    <xacro:shoulder_link_base name="link_left_shoulder" x = "0.0" y = "0.0" z = "0.0" row = "${pi/2}" pitch = "0" yaw = "0"/>
    <xacro:shoulder_link_base name="link_right_shoulder" x = "0.0" y = "0.0" z = "0.0" row = "${pi/2}" pitch = "0" yaw = "0"/>


    <joint name="joint_chest_to_left_motor_shoulder" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0 0.0925 0.5714" rpy="0 0 0"/>
        <parent link="chest"/>
        <child link="left_motor_arm"/>
    </joint>

    <joint name="joint_chest_to_right_motor_shoulder" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0 -0.0925 0.5714" rpy="0 0 0"/>
        <parent link="chest"/>
        <child link="right_motor_arm"/>
    </joint>

    <joint name="q1" type="revolute">
        <origin rpy="0 0 0" xyz="0 0.04 0.017" />
        <child link="link_left_shoulder" />
        <parent link="left_motor_arm" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    <joint name="q2_b" type="revolute">
        <origin rpy="0 0 0" xyz="0 -0.04 0.017" />
        <child link="link_right_shoulder" />
        <parent link="right_motor_arm" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="${-2*pi}" upper="${2*pi}" velocity="5.76"/>
    </joint>
    -->

</robot>
